p {
	width: 400px;
	position: absolute;
	top: 460px;
	left: 199px;
	font-family: Verdana;
}

h2 {
	position: absolute;
	top: 430px;
	left: 199px;
	font-family: Verdana;
	font-size: 25px;
	font-weight: bold;
}
.box1 {
	width: 60px;
	height: 230px;
	background-color: black;
	position: absolute;
	top: 50px;
	left: 20px;
}
.box2 {
	width: 110px;
	height: 80px;
	background-color: black;
	position: absolute;
	top: 50px;
	left: 20px;
	border-radius: 50%;
}

.box3 {
	position: absolute;
  top: 20px;
  left: 30px;
  width: 0;
  height: 62px;
  border-left: 30px solid transparent;
  border-right: 105px solid transparent;
  border-bottom: 198px solid rgb(0, 0, 0);
}
.box4 {
	position: absolute;
  top: -70px;
  left: 170px;
  width: 20px;
  height: 154px;
  border-left: 60px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 197px solid rgb(0, 0, 0);
}.box5 {
	width: 40px;
	height: 230px;
	background-color: black;
	position: absolute;
	top: 50px;
	left: 330px;
}
.box6 {
  position: absolute;
  top: 49px;
  left: 350px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 231px solid rgb(0, 0, 0);
 
}
.box7 {
  position: absolute;
  top: 50px;
  left: 350px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 231px solid rgb(0, 0, 0);
  
  
}
.box8 {
	width: 40px;
	height: 230px;
	background-color: black;
	position: absolute;
	top: 50px;
	left: 440px;
}
.box9 {
  width: 45px;
  height: 230px;
  position: absolute;
  top: 50px;
  left: 510px;
  background-color: rgb(0,00,0);
  transform: skew(5deg);
}
.box10 {
  width: 150px;
  height: 35px;
  position: absolute;
  top: 250px;
  left: 530px;
  background-color: rgb(0,00,0);
  transform: rotateX(45deg);
  transform: skew(30deg);

}
.box11 {
	width: 150px;
	height: 35px;
	background-color: black;
	position: absolute;
	top: 40px;
	left: 530px;
	transform: skew(30deg);
}
.box12 {
	width: 45px;
	height: 120px;
	background-color: black;
	position: absolute;
	top: 150px;
	left: 635px;
	transform: skew(10deg);
}
.box13 {
	width: 45px;
	height: 230px;
	background-color: black;
	position: absolute;
	top: 50px;
	left: 700px;
	
}
.box14 {
	width: 45px;
	height: 70px;
	background-color: black;
	position: absolute;
	top: 50px;
	left: 760px;
	transform: skew(40deg);
}
.box15 {
	width: 50px;
	height: 100px;
	background-color: black;
	position: absolute;
	top: 105px;
	left: 750px;
	transform: skew(40deg)
}
.box16 {
	width: 50px;
	height: 100px;
	background-color: black;
	position: absolute;
	top: 185px;
	left: 750px;
	transform: skew(40deg)












